<h1>New Enrollment</h1>

<div>
    <nav>

  <a href="/registries">Registries</a>
        <li>
            <a href="/coordinators">Coordinators</a>
        </li>
        <li>
            <a href="/registries">New Registry</a>
        </li>
        <li>
            <a href="/participants/new">New Participant</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
  </div>
</nav>
